<div class="the-padding">
</div>


<div class="spec ">
	<h3>Service Details</h3>
	<div class="ser-t1">
		<b></b>
		<span><i></i></span>
		<b class="line"></b>
	</div>
</div>

<div class="single">
	<div class="container">
		<div class="single-top-main">
			<div class="col-md-5 single-top">
				<div class="single-w3agile">	
					<div id="picture-frame">
						<%= image_tag @service.picture.standard.url, class: "img-responsive" %>
					</div>
					<script>
						$(function() {
							$("#picture-frame").zoomToo({
								magnify: 1
							});
						});
					</script>
				</div>
			</div>
			<div class="col-md-7 single-top-left ">
				<div class="single-right">
					<%= link_to profile_path(@service.profile_id) do %>
						<h3><%= @service.profile.name_of_agency %></h3>
					<% end %>
					<div class="pr-single">
						<p class="reduced ">Minimum price: <%= @service.price %> <%= @service.metric %></p>
					</div>
					<div class="block block-w3">
						<div class="starbox small ghosting"> </div>
					</div>
					<p class="in-pa"> <%= @service.desc_service %></p>

					<div class="add add-3 booking">	
						<%= date_field_tag(:book_day, nil, { min: Date.today }) %>
						<%= submit_tag "Book day", { class: "save-button", id: "book_service" } %>
					</div>
					<br/>
					<br/>
					<div class="style-textarea">
						<textarea id="body" row="10" col="10" required></textarea>
					</div>
					
					<div class="add add-3">	
						<button id="message-supply">Contact Supplier</button>
					</div>	
		 
				<div class="clearfix"> </div>
			</div>
		</div>
	<div class="clearfix"> </div>
</div>	
				 
				
	</div>
</div>

<div class="the-padding">
</div>

<script>

	
$('#message-supply').click(function(e){
	e.preventDefault();
	if($('#body').val().trim() === ""){
		 $('.single-top-left').prepend("<div class='alert alert-danger' role='alert'> <button aria-hidden='true' data-dismiss='alert' class='close' type='button'> × </button> You cannot send this message at this time!</div>");
	}
	else{
		var messageId = $(this).attr('title');
		var messageForm = new FormData();
		messageForm.append('message[body]', $('#body').val().trim());
		messageForm.append('message[profile_id]', <%= @service.profile_id %>);
		messageForm.append('message[service_id]', <%= @service.id %>)

		$.ajax({
				url: "/messages/",
				type: "POST",
				data: messageForm,
			   cache: false,
		 contentType: false,
		 processData: false,
			 success: function(resp){ 
				 console.log(resp);
				 $('.single-top-left').prepend("<div class='alert alert-success' role='alert'> <button aria-hidden='true' data-dismiss='alert' class='close' type='button'> × </button> Message sent sucessfully!</div>");
				 $('#body').val(""); 
				},
				fail:  function(resp){
				 $('.single-top-left').prepend("<div class='alert alert-danger' role='alert'> <button aria-hidden='true' data-dismiss='alert' class='close' type='button'> × </button> You cannot send this message at this time!</div>");
				}
			});
	}
});


$("#book_service").click(function(e){
	e.preventDefault();
	var bookingForm = new FormData();
	bookingForm.append('booking[book_day]', $('#book_day').val());
	bookingForm.append('booking[bookee_id]', <%= @service.profile.user.id %>);
	bookingForm.append('booking[booker_id]', <%= session[:evventor_user]%>);
	bookingForm.append('booking[service_id]', <%= @service.id %>);

	$.ajax({
			 url: "/bookings/",
			type: "POST",
			data: bookingForm,
		   cache: false,
	 contentType: false,
	 processData: false,
			success: function(resp){
				$('.single-top-left').prepend("<div class='alert alert-success' role='alert'> <button aria-hidden='true' data-dismiss='alert' class='close' type='button'> × </button> Date has been sucessfully booked!</div>");
			},
			fail:  function(resp){
				$('.single-top-left').prepend("<div class='alert alert-danger' role='alert'> <button aria-hidden='true' data-dismiss='alert' class='close' type='button'> × </button> You cannot book on this date!</div>");
			}
		});
});
</script>