<div class="header nav-bar-banner">
	<div class="row">
		<div class="col-md-2 col-xs-6" style="padding-left: 3em;">
			<br /><br />
			<%= link_to root_path do %>
				<%= image_tag "app/logo1.png" %>
			<% end %>
		</div>
		<div class="col-md-10 col-xs-6" style="padding-right: 3em;">
			<br /><br />
			<button id="save-changes" class="save-button" style="float: right;">Save changes</button>
		</div>
	</div>
</div>

<div class="banner-profile">
<% if @profile.banner.url.nil? %>
	<%= image_tag "app/kwaku1.jpg", class: "custom-profile-banner" %>
<% else %>
	<%= image_tag @profile.banner.url, class: "custom-profile-banner" %>
<% end %>
	<ul class="rslides" id="slider" value="<%= @profile.id %>" >
		<li>
			<div class="banner-profile-info" style="margin-top: 10%;">
				<h3 class="full_name_text"><%= @profile.name_of_agency %> <i class="full_name fa fa-pencil" aria-hidden="true"></i></h3>
				<span class="line1"></span>
				<p class="tagline_text"><%= @profile.tagline %><i class="tagline fa fa-pencil" aria-hidden="true"></i></p>
				<span class="line2"></span>
			</div>
		</li>
	</ul>
	<input type="file" class="upload-custom-banner"  style="width:100%;" title="Click to upload a banner" onchange="previewFile()"/>
</div>
<div class="about-me">
	<br />
</div>
<div class="about-me" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="mydetails slideanim text-center">
					<div>
						<%= image_tag "app/man.jpg", { class: "img-circle img-responsive", alt: "Generic placeholder image", width: "200", height: "200" } %>
						<h3>Who we are</h3>
						<p class="short_desc_text"><%= @profile.short_desc %><i class="short_desc fa fa-pencil" aria-hidden="true"></i></p>
					</div>
					<br />
					<div class="contact-info some-border">
						<i class="short_desc fa fa-pencil" aria-hidden="true"></i>
						<h3>Where you can find us</h3>
						<i aria-hidden="true"></i>
                        <div class="footer-info">
							<div class="some-border">
								<i class="fa fa-globe" aria-hidden="true"></i>
								<p class="p1 address_text">77727 Moi Avenue </p>
								<p class="p2 address_text_2">Nairobi, Kenya</p>
							</div>
							<div class="some-border">
								<i class="fa fa-phone" aria-hidden="true"></i>
								<p class="p1 phone_number_text">+1 515 151515</p>
								<p class="p2 phone_number_text_2">+00 1010101010</p>
							</div>
							<div class="some-border">
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<p class="p1 email_text"><%= @profile.user.email %></p>
								<p class="p2 email_text_2">myemail2@example.com</p>
							</div>
						</div>
					</div>



				</div>
			</div>
			<% if flash[:notice].nil? %>
				<%= display_errors_for_object @service %>
			<% else %>
				<%= display_service_posted_success flash[:notice] %>
			<% end %>
			<div class="col-md-8 col-xs-12">

				<div class="navigation-div">
					<ul class="nav nav-tabs">
    					<li class="active"><a data-toggle="tab" href="#home">About</a></li>
  					</ul>
  				</div>

  				<div class="tab-content">
    				<div id="home" class="tab-pane fade in active">
      					<div class="myskills slideanim">
							<h3 class="text-center">Why hire us <i class="long_desc fa fa-pencil" aria-hidden="true"></i></h3>
							<p class="skill-text long_desc_text"><%= @profile.desc %></p>
						</div>
						<br />
						<div class="myskills slideanim move-down">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner" role="listbox">
									<h3 class="text-center">You are yet to post a service</h3>
									<hr style="margin:0;">
									<p class="text-center">When you post a service, you’ll see them here.</p>
								</div>
							</div>
						</div>
    				</div>
			</div>

				
				
			
				
			</div>
		</div>
	</div>
	<div class="bottom-div">
		<br />
	</div>


<div class="container">
  			
  			<div class="modal fade" id="welcome-screen" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header the-modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<%= image_tag "app/logo1.png", class: "img-head" %>
							<br /><br /><br />
							<h2>Welcome to your profile</h2>
						</div>
						<div class="modal-body md-body" align="center">
							<br /><br /><br />
							<h4>Please take some time and edit your company details</h4>
							<br /><br />
							<h4>Editing your profile details will enable you to be found by searchers looking for your service quickly and easily</h4>
							<br /><br />
							<h4>To edit a particular field, just click on the pencil and then click on the text you want to edit</h4>
							<br /><br />
							<h4>Click the lower part of the banner to upload a picture for your product</h4>
							<br /><br /><br />
						</div>
						<div class="modal-footer the-modal-footer">
							<br />
							<button type="button" class="save-button" data-dismiss="modal">Continue</button>
							<br /><br />
						</div>
					</div>
		
				</div>
			</div>

		</div>

</div>
