<div class="the-padding">
</div>
<%= display_errors_for_object @user %>
<div class="login">
		<div class="main-agileits">
				<div class="form-w3agile form1">
					<h3>Register</h3>
					<%= form_for @user, url: { action: :create }, html: { class: :form_nice } do |f| %>
						<div class="key">
							<i class="fa fa-user" aria-hidden="true"></i>
                            <%= f.text_field :name, placeholder: :Full_Name %>
							<div class="clearfix"></div>
						</div>
						<div class="key">
							<i class="fa fa-envelope" aria-hidden="true"></i>
                            <%= f.text_field :email, placeholder: :Email, value: "" %>
							<div class="clearfix"></div>
						</div>
						<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
                            <%= f.password_field :password, placeholder: :Password %>
							<div class="clearfix"></div>
						</div>
						<div class="key the-table">
                            <table>
								<tr>
									<td><%= label_tag :kind, "Service Provider" %></td>
									<td><%= f.radio_button :kind, "Service Provider" %></td>
									<td><%= label_tag :kind, :Organizer %></td>
									<td><%= f.radio_button :kind, :Organizer %></td>
								</tr>
							</table>
                            
                            

                            
                            
							<div class="clearfix"></div>
						</div>
						<br />
						<div align="center">
							<input type="submit" value="Submit">
						</div>
						<br /><br />
						<div align="center">
							<p>Already have an account? <a href="/user/login/">Log in</a></p>
						</div>
					<% end %>
				</div>
				
			</div>
		</div>