<%= display_errors_for_object @user %>
<div class="login">
		<div class="main-agileits">
				<div class="form-w3agile form1">
					<h3>Register</h3>
					<%= form_for @user, url: { action: :create }, html: { class: :form_nice } do |f| %>
						<div class="key">
							<i class="fa fa-user" aria-hidden="true"></i>
                            <%= f.text_field :name, placeholder: :Full_Name %>
							<!--<input  type="text" value="First name" name="first name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" required="">-->
							<div class="clearfix"></div>
						</div>
						<div class="key">
							<i class="fa fa-envelope" aria-hidden="true"></i>
                            <%= f.text_field :email, placeholder: :Email, value: "" %>
							<!-- <input  type="text" value="Username" name="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" required="">-->
							<div class="clearfix"></div>
						</div>
						<div class="key">
							<i class="fa fa-key" aria-hidden="true"></i>
                            <%= f.text_field :username, placeholder: :Username %>
							<!--<input  type="text" value="Email" name="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required=""> -->
							<div class="clearfix"></div>
						</div>
						<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
                            <%= f.password_field :password, placeholder: :Password %>
							<!-- <input  type="text" value="Confirm Email" name="cemail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required=""> -->
							<div class="clearfix"></div>
						</div>
						<div class="key the-table">
                            <table>
								<tr>
									<td><%= label_tag :kind, "Service Provider" %></td>
									<td><%= f.radio_button :kind, "Service Provider" %></td>
									<td><%= label_tag :kind, :Organizer %></td>
									<td><%= f.radio_button :kind, :Organizer %></td>
								</tr>
							</table>
                            
                            

                            
                            
							<div class="clearfix"></div>
						</div>
						<!-- <div class="key the-table">
							<table>
								<tr>
									<td>Individual</td>
									<td><input type="radio" value="individual" name="typeofbusiness"></td>
									<td>Business</td>
									<td><input type="radio" value="business" name="typeofbusiness"></td>
								</tr>
							</table>
						</div>-->
						<br />
						<div align="center">
							<input type="submit" value="Submit">
						</div>
					<% end %>
				</div>
				
			</div>
		</div>