<!DOCTYPE html>
<html>
<head>
<title>Find supplier listings for all your event needs</title>
<%= csrf_meta_tags %>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Vide" />
<meta name="keywords" content="Search and find suppplier listings for all your event needs" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<script type="text/javascript">
	jQuery(document).ready(function($) {
		$("#works").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>


<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<script src="js/jstarbox.js"></script>
	
		<script type="text/javascript">
			jQuery(function() {
			jQuery('.starbox').each(function() {
				var starbox = jQuery(this);
					starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
					}).bind('starbox-value-changed', function(event, value) {
					if(starbox.hasClass('random')) {
					var val = Math.random();
					starbox.next().text(' '+val);
					return val;
					} 
				})
			});
		});
		</script>


</head>
<body>
	
		<div class="header">
			<div class="container-fluid main-nav-shadow logo-padd">
				<a href="/">
    				<%= image_tag "app/logo1.png", class: "img-head" %>
    			</a>
    			<ul class="card">
				<% if !@profile.nil? %>
				  <li><a href="/profiles/<%= @profile.id %>" ><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
				<% else %>
				  <li><a href=".lgmd" data-toggle="modal"><i class="fa fa-user" aria-hidden="true"></i>Log in</a></li>
					<li><a href=".sumd" data-toggle="modal"><i class="fa fa-user" aria-hidden="true"></i>Sign Up</a></li>
				<% end %>
					
					
				</ul>
    		</div>
<div class="top-top-banner">
    
    <div class="container">
		<div class="banner-info">
			<br />
			<h3>You deserve the best event</h3>
			<h4>The best events start with the best suppliers. Find everything you need, all in one place</h4>
			<br /><br /><br />
			<h4><a href="#howto" id="works">See how it works</a></h4>
			<button onclick="window.location.href='/users/new/'" class="banner-info-button">Create a listing</button>
			<br /><br /><br /><br /><br />
			<h3>What are you looking for?</h3>
			<div class="search-form container overlay">
				<%= form_tag({ controller: :mains, action: :search }, :method => "get", id: "search-form") do %>
					<div class="col-md-6 col-sm-4 col-xs-12 search-no-padding-left search-no-padding-right">
						<%= text_field_tag :q, params[:q], placeholder: "Supplier or Service" %>
					</div>
					<div class="col-md-4 col-sm-4 hidden-xs search-no-padding-right">
						<input type="text" placeholder="Location" name="location" />
					</div>
					<div class="col-md-2 col-sm-4 col-xs-12 search-no-padding">
						<%= submit_tag "Search", class: "search-no-border btn-search" %>
					</div>
				<% end %>
			</div>		
		</div>	
    </div>
</div>

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="js/jquery.vide.min.js"></script>

<div class="gray-div-bg">
<div class=" container-fluid categories-tab">
	<h4>Explore by Categories</h4>
</div>
<div class="the-padding">
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<div class="col-m">
				<a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
					<%= image_tag "app/banner.png", class: "img-responsive blink_me" %>
				</a>
				<div class="mid-1">
					<div class="women">
						<h6><%= link_to "Equipment", { controller: :categories, action: :show, id: "10" }%></h6>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="col-m">
				<a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
					<%= image_tag "app/catering.png", class: "img-responsive" %>
				</a>
				<div class="mid-1">
					<div class="women">
						<h6><%= link_to "Catering", { controller: :categories, action: :show, id: "11" }%></h6>							
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="col-m">
				<a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
					<%= image_tag "app/decor.png", class: "img-responsive" %>
				</a>
				<div class="mid-1">
					<div class="women">
						<h6><%= link_to "Decor", { controller: :categories, action: :show, id: "8" }%></h6>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="col-m">
				<a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
					<%= image_tag "app/entertainment.png", class: "img-responsive" %>
				</a>
				<div class="mid-1">
					<div class="women">
						<h6><%= link_to "Entertainment", { controller: :categories, action: :show, id: "6" }%></h6>							
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="col-m">
				<a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
					<%= image_tag "app/venue.jpg", class: "img-responsive" %>
				</a>
				<div class="mid-1">
					<div class="women">
						<h6><%= link_to "Venues", { controller: :categories, action: :show, id: "9" }%></h6>							
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="the-padding">
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<div class="col-m">
				<a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
					<%= image_tag "app/transport.png", class: "img-responsive" %>
				</a>
				<div class="mid-1">
					<div class="women">
						<h6><%= link_to "Transport", { controller: :categories, action: :show, id: "4" }%></h6>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="col-m">
				<a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
					<%= image_tag "app/clothing.png", class: "img-responsive" %>
				</a>
				<div class="mid-1">
					<div class="women">
						<h6><%= link_to "Clothing", { controller: :categories, action: :show, id: "3" }%></h6>							
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="col-m">
				<div class="mid-1 cen-div">
					<div class="women">
						<h6>Find what you want</h6>
						<br />
						<h3>Easily</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="col-m">
				<a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
					<%= image_tag "app/stationery.png", class: "img-responsive" %>
				</a>
				<div class="mid-1">
					<div class="women">
						<h6><%= link_to "Stationery & Gifts", { controller: :categories, action: :show, id: "7" }%></a></h6>							
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="col-m">
				<a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
					<%= image_tag "app/personnel.png", class: "img-responsive" %>
				</a>
				<div class="mid-1">
					<div class="women">
						<h6><%= link_to "Personnel", { controller: :categories, action: :show, id: "2" }%></h6>							
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<div class="the-padding">
		</div>
</div>

<div class="container-fluid" id="howto">
	<div class="row">
		<div class="col-md-6">
			<div class="the-padding"></div>
			<div class="vp-header-padding">
				<h3>
					Evventor will help you to
				</h3>
			</div>
			<br />
			<div>
				<table class="grid-table">
					<tr>
						<td class="grid-table1"><%= image_tag "app/clock.png", class: "img-head" %></td>
						<td class="grid-table2"><b>Save time with your event planning by getting all your event supplies faster</b></td>
					</tr>
					<tr>
						<td class="grid-table1"><%= image_tag "app/running.png", class: "img-head" %></td>
						<td class="grid-table2"><b>Stop running all over town trying out multiple blind supplier auditions. Check out our reviews & ratings</b></td>
					</tr>
					<tr>
						<td class="grid-table1"><%= image_tag "app/handshake.png", class: "img-head" %></td>
						<td class="grid-table2"><b>It takes a team to plan the best event. Collaborate on the go</b></td>
					</tr>
					<tr>
						<td class="grid-table1"><%= image_tag "app/checklist.png", class: "img-head" %></td>
						<td class="grid-table2"><b>Get your own customized & personalized event supplier checklist. Save & update as you go</b></td>
					</tr>
					<tr>
						<td class="grid-table1"><%= image_tag "app/happyimage.png", class: "img-head" %></td>
						<td class="grid-table2"><b>Its all free forever</b></td>
					</tr>
				</table>
			</div>
			<div class="the-padding"></div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<div class="the-padding"></div>
					<div class="vp-sup-pla-style">
						<div class="vp-header-padding">
							<h3>
								For Suppliers
							</h3>
						</div>
						<br /><br />
						<div>
							<p><b>Get more visibility with customer product reviews & ratings & easily contact potential customers</b></p>
						</div>
					</div>
					<div class="the-padding"></div>
				</div>
				<div class="col-md-12">
					<div class="vp-sup-pla-style">
						<div class="vp-header-padding">
							<h3>
								For Planners
							</h3>
						</div>
						<br /><br />
						<div>
							<p><b>Easily find what you need to create the best event</b></p>
						</div>
					</div>
					<div class="the-padding"></div>
				</div>
			</div>
			
		</div>
	</div>
</div>

	<div class="product">
		<div class="container">
			<div class="spec ">
				<h3>Latest Listings</h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
				<div class=" con-w3l">
				<% @latest_listings.each do |service| %>
					<div class="col-md-4 pro-1">
						<div class="col-m">
						<a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
								<%= image_tag service.picture.standard.url, class: "img-responsive" %>
							</a>
							<div class="mid-1">
								<div class="women">
									<h6><a href="single.html"><%= service.profile.name_of_agency %></a></h6>							
								</div>
								<div class="mid-2">
									<p><%= service.desc_service %></p>
									<div class="clearfix"></div>
								</div>
								<div class="block">
									<div class="starbox small ghosting"> </div>
								</div>
								<br />
								<div class="add" align="right"><br />
								</div>
							</div>
						</div>
					</div>
				<% end %>							
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

<div class="container-fluid">
</div>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 some-justify">
				<h2>About Us</h2>
				<br />
				<p>Evventor is an innovative community marketplace that enables people list and discover a wide variety of events suppliers around them to make their event successful. We know quality, speed and reviews are important concerns when selecting your desired event service provider. That’s why if you’re organizing your next event, Evventor is your best sourcing buddy. Our mission is to help promote businesses online.</p>
			</div>
			<div class="col-md-8 col-xs-12">
				<div class="row">
					<div class="col-md-12" align="center">
						<h2>Evventor</h2>
						<br />
					</div>
					<div class="col-md-12" align="center">
						<h4>Connect with us</h4>
						<br />
					</div>
					<div class="col-md-12">
						<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-home" aria-hidden="true"></i>No. 20 Aluguntugui Street, East Legon, Accra</p>
						</div>
						<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-phone" aria-hidden="true"></i>+254 716 808880, +233 50 982 5831, +233 26 288 9802</p>	
						</div>
						<div class="col-md-4 fo-grid1">
							<p><a href="mailto:info@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@evventor.com</a></p>
						</div>
					</div>
					<div class="col-md-12" align="center">
						<br /><br />
						<ul class="social-for">
							<li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
	</div>
	<div class="row">
		<div class="copy-right col-md-12">
			<p> &copy; 2017 Evventor. All Rights Reserved</p>
		</div>
	</div>
</div>
</div>

		<div class="container">
  			
  			<div class="modal fade sumd" id="signupModal" role="dialog">
    			<div class="modal-dialog">
    
      				<div class="modal-content">
        				<div class="modal-header the-modal-header">
          					<button type="button" class="close" data-dismiss="modal">&times;</button>
          					<%= image_tag "app/logo1.png", class: "img-head" %>
          					<h3 class="modal-title">Register Today</h3>
        				</div>
        				<div class="modal-body md-body">
        					<div class="md-body-fb">
          						<button onclick="window.location.href='/auth/facebook/'">Sign Up with Facebook</button>
          					</div>
          					<br />
          					<div class="md-body-tw">
							  <button onclick="window.location.href='/auth/twitter/'">Sign Up with Twitter</button>
          					</div>
          					<br />
          					<div>
          						<h3>or</h3>
          					</div>
          					<br />
          					<div class="md-body-em">
							  <button onclick="window.location.href='/users/new/'">Sign Up with Email</button>
          					</div>
          					<br />
          					<br />
        				</div>
        				<div class="modal-footer the-modal-footer">
        					<p>By creating an account you agree to our <a href="">terms and conditions</a></p>
        					<p>Already have an account? <a href="#loginModal" data-toggle="modal" onclick="$('#signupModal').Toggle();">Log in</a></p>
        				</div>
      				</div>
      
    			</div>
  			</div>
  
		</div>
		<div class="container">
  			
  			<div class="modal fade lgmd" id="loginModal" role="dialog">
    			<div class="modal-dialog">
    
      				<div class="modal-content">
        				<div class="modal-header the-modal-header">
          					<button type="button" class="close" data-dismiss="modal">&times;</button>
          					<%= image_tag "app/logo1.png", class: "img-head" %>
          					<h3 class="modal-title">Log in</h3>
        				</div>
        				<div class="modal-body md-body">
        					<div class="md-body-fb">
          						<button onclick="window.location.href='/auth/facebook/'">Log in with Facebook</button>
          					</div>
          					<br />
          					<div class="md-body-tw">
          						<button onclick="window.location.href='/auth/twitter/'">Log in with Twitter</button>
          					</div>
          					<br />
          					<div>
          						<h3>or</h3>
          					</div>
          					<br />
							<%= form_tag ({ controller: "users", action: "attempt_login", method: "post"}) do %>
          					<div align="center">
          						<div class="key1">
									<i class="fa fa-key" aria-hidden="true"></i>
									<%= text_field_tag :email, nil, placeholder: :Email %>
									<div class="clearfix"></div>
								</div>
								<div class="key1">
									<i class="fa fa-lock" aria-hidden="true"></i>
									<%= password_field_tag :password, nil, placeholder: :Password %>
									<div class="clearfix"></div>
								</div>
								<%= submit_tag "Log In", class: "search-no-border btn-search" %>
          					</div>
							<% end %>
          					<br />
          					<br />
        				</div>
        				<div class="modal-footer the-modal-footer">
        					<p>Don't have an account? <a href="">Sign up</a></p>
        				</div>
      				</div>
      
    			</div>
  			</div>
  
		</div>

	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


<script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("1926082673");
</script>