<!DOCTYPE html>
<html>
<head>
<title>Find supplier listings for all your event needs</title>
<%= csrf_meta_tags %>

<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Vide" />
<meta name="keywords" content="Search and find suppplier listings for all your event needs" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- //for-mobile-apps -->
<!--<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />-->
<!-- js -->

<!-- //js <script src="js/jquery-1.11.1.min.js"></script> -->
<!-- start-smoth-scrolling <script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script> -->

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!--<link href="css/font-awesome.css" rel="stylesheet">--> 
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<!--- start-rate -->
<script src="js/jstarbox.js"></script>
	<!--<link rel="stylesheet" href="css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />-->
		<script type="text/javascript">
			jQuery(function() {
			jQuery('.starbox').each(function() {
				var starbox = jQuery(this);
					starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
					}).bind('starbox-value-changed', function(event, value) {
					if(starbox.hasClass('random')) {
					var val = Math.random();
					starbox.next().text(' '+val);
					return val;
					} 
				})
			});
		});
		</script>
<!---//End-rate -->

</head>
<body>
	<!--
		<div class="header">

			<div class="container-fluid">
			
				<div>
					<a href=""><%= image_tag "app/logo.png", class: "img-head" %></a>
				</div>
				<!--The nav bar starts here-->
				<!--
				<div class="nav-top">
					<nav class="navbar navbar-default">		
						<div class="navbar-header nav_2">
							<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div> 
						<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
							<ul class="nav navbar-nav ">
								<li class="active"><a href="index.html" class="hyper"><span>Home</span></a></li>	
								
							</ul>
						</div>

					</nav>
				</div>
				-->
				<!-- ///////                 Uncomment here
				<div class="cart">
					
					<!--<span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>--><!-- And here
					<ul class="card">
						<!-- <li><a href="wishlist.html" ><i class="fa fa-heart" aria-hidden="true"></i>Wishlist</a></li> --><!-- Here too 
						<li><%= link_to "Login", { controller: :access, action: :login }, { class: "fa fa-user", "aria-hidden" => "true" } %></li>
						<li><%= link_to "Sign up", { controller: :users, action: :new }, { class: "fa fa-user", "aria-hidden" => "true" } %></li>
						<!--<li><a href="about.html" ><i class="fa fa-file-text-o" aria-hidden="true"></i>Order History</a></li>
						<li><a href="shipping.html" ><i class="fa fa-ship" aria-hidden="true"></i>Shipping</a></li>--><!-- Here all
					</ul>	
				</div>
				<div class="clearfix"></div>
			</div>
				
		</div>
<br /><br />
  <!---->
<div class="top-top-banner">                                     <!-- there are two types of images to be used here -->
    <div class="container-fluid">
    	<%= image_tag "app/logo.png", class: "img-head" %>
    	<ul class="card">
			<!-- <li><a href="wishlist.html" ><i class="fa fa-heart" aria-hidden="true"></i>Wishlist</a></li> -->
			<li><%= link_to "Login", { controller: :access, action: :login }, { class: "fa fa-user", "aria-hidden" => "true" } %></li>
			<li><%= link_to "Sign up", { controller: :users, action: :new }, { class: "fa fa-user", "aria-hidden" => "true" } %></li>
			<!--<li><a href="about.html" ><i class="fa fa-file-text-o" aria-hidden="true"></i>Order History</a></li>
			<li><a href="shipping.html" ><i class="fa fa-ship" aria-hidden="true"></i>Shipping</a></li>-->
		</ul>
    </div>
    <div class="container">
		<div class="banner-info">
			<h3>Search for suppliers</h3>	
			<div class="search-form container overlay">
				<form action="#" method="post">
					<div class="col-md-6 col-sm-4 col-xs-12 search-no-padding-left search-no-padding-right">
						<input type="text" placeholder="Search" name="Search">
					</div>
					<div class="col-md-4 col-sm-4 hidden-xs search-no-padding-right">
						<select>
							<option>Select location</option>                                     <!-- fix the locations with stella -->
							<option>Accra</option>
							<option>Kumasi</option>
						</select>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-12 search-no-padding">
						<button class="search-no-border" type="submit">Search</button>
					</div>
				</form>
			</div>		
		</div>	
    </div>
    <div class="container-fluid">
    	<div class="col-md-2">
    		Equipment
    	</div>
    	<div class="col-md-2">
    		Catering
    	</div>
    	<div class="col-md-2">
    		Decor
    	</div>
    	<div class="col-md-2">
    		Entertainment
    	</div>
    	<div class="col-md-2">
    		Venues
    	</div>
    	<div class="col-md-2">
    		Transportation
    	</div>
    </div>
</div>

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="js/jquery.vide.min.js"></script>

<!--content-->
<%= yield %>
<!--content-->
  <!-- Carousel
    ================================================== --><!--
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators --><!--
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
         <a href="kitchen.html"> <%= image_tag "app/ba", class: "first-slide", alt: "First Slide" %></a>
       
        </div>
        <div class="item">
         <a href="care.html"> <%= image_tag "app/ba1.jpg", class: "second-slide ", alt: "Second slide" %></a>
         
        </div>
        <div class="item">
          <a href="hold.html"><%= image_tag "app/ba2.jpg", class: "third-slide ", alt:"Third slide" %></a>
          
        </div>
      </div>
    
    </div><!-- /.carousel -->


	<div class="product">
		<div class="container">
			<div class="spec ">
				<h3>Featured Listings</h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
				<div class=" con-w3l">
							<div class="col-md-4 pro-1">
								<div class="col-m">
								<a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
										<%= image_tag "app/cakehouse.png", class: "img-responsive" %>
									</a>
									<div class="mid-1">
										<div class="women">
											<h6><a href="single.html">Valentine Cake House</a></h6>							
										</div>
										<div class="mid-2">
											<p>Biggest cake supplier in Nairobi</p>
											<div class="clearfix"></div>
										</div>
										<div class="block">
											<div class="starbox small ghosting"> </div>
										</div>
										<br />
										<div class="add" align="right">
											<!-- <button class="btn btn-danger my-cart-btn my-cart-b" data-id="25" data-name="Peach Halves" data-summary="summary 25" data-price="4.50" data-quantity="1" data-image="images/of25.png">Add to Cart</button> -->
										   	<!-- I'm putting a fake star rating system here, it needs to be called and replaced from the database --><br />
										   	<%= image_tag "app/viewer.png", class: "img-responsive" %>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 pro-1">
								<div class="col-m">
									<a href="#" data-toggle="modal" data-target="#myModal18" class="offer-img">
										<%= image_tag "app/cakehouse.png", class: "img-responsive" %>
									</a>
									<div class="mid-1">
										<div class="women">
											<h6><a href="single.html">Valentine Cake House</a></h6>							
										</div>
										<div class="mid-2">
											<p>Biggest cake supplier in Nairobi</p>
											<div class="clearfix"></div>
										</div>
										<div class="block">
											<div class="starbox small ghosting"> </div>
										</div>
										<br />
										<div class="add" align="right">
											<!-- <button class="btn btn-danger my-cart-btn my-cart-b" data-id="25" data-name="Peach Halves" data-summary="summary 25" data-price="4.50" data-quantity="1" data-image="images/of25.png">Add to Cart</button> -->
										   	<!-- I'm putting a fake star rating system here, it needs to be called and replaced from the database --><br />
										   	<%= image_tag "app/viewer.png", class: "img-responsive" %>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 pro-1">
								<div class="col-m">
									<a href="#" data-toggle="modal" data-target="#myModal19" class="offer-img">
										<%= image_tag "app/cakehouse.png", class: "img-responsive" %>
									</a>
									<div class="mid-1">
										<div class="women">
											<h6><a href="single.html">Valentine Cake House</a></h6>							
										</div>
										<div class="mid-2">
											<p>Biggest cake supplier in Nairobi</p>
											
											<div class="clearfix"></div>
										</div>
										<div class="block">
											<div class="starbox small ghosting"> </div>
										</div>
										<br />
										<div class="add" align="right">
											<!-- <button class="btn btn-danger my-cart-btn my-cart-b" data-id="25" data-name="Peach Halves" data-summary="summary 25" data-price="4.50" data-quantity="1" data-image="images/of25.png">Add to Cart</button> -->
										   	<!-- I'm putting a fake star rating system here, it needs to be called and replaced from the database --><br />
										   	<%= image_tag "app/viewer.png", class: "img-responsive" %>
										</div>
									</div>
								</div>
							</div>
							
							
							<div class="clearfix"></div>
						 </div>
		</div>
	</div> -->
<!--footer--> <br /><br /><br />
<div class="footer">
	<div class="container">
		<div class=""><!--     ////If ever we need the about us to be down there, just uncomment this out.
			<h3>About Us</h3>
			<p>Nam libero tempore, cum soluta nobis est eligendi 
				optio cumque nihil impedit quo minus id quod maxime 
				placeat facere possimus.</p>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Menu</h3>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="kitchen.html">Corporate</a></li>
				<li><a href="care.html">Casual</a></li>
				<li><a href="hold.html">Personal</a></li>						 
				<!--<li><a href="codes.html">Short Codes</a></li>-->   <!--   /////Same here
				<!--<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Customer Services</h3>
			<ul>
				<!--<li><a href="shipping.html">Shipping</a></li>-->     <!-- .////And here too
				<li><a href="terms.html">Terms & Conditions</a></li>
				<li><a href="faqs.html">Faqs</a></li>
				<li><a href="contact.html">Contact</a></li>
				<!--<li><a href="offer.html">Online Shopping</a></li>-->	<!--  ///Here all				 
				 
			</ul>
		</div>
		<div class="col-md-3 footer-grid">
			<h3>My Account</h3>
			<ul>
				<li><%= link_to "Login", { controller: :access, action: :login } %></li>
				<li><%= link_to "Register", { controller: :users, action: :new } %></li>
				<li><a href="wishlist.html">Wishlist</a></li>
				
			</ul>
		</div>  -->
			<div class="footer-bottom">
				<h2><a href="index.html">Eventicize</a></h2>
				<ul class="social-fo">
					<li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
				<div class=" address">
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-home" aria-hidden="true"></i>No.32 Aluguntugui Street, East Legon, Accra</p>
					</div>
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-phone" aria-hidden="true"></i>+1234 758 839 , +1273 748 730</p>	
					</div>
					<div class="col-md-4 fo-grid1">
						<p><a href="mailto:info@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@example1.com</a></p>
					</div>
					<div class="clearfix"></div>
					
				</div>
			</div>
		<div class="copy-right">
			<p> &copy; 2016 Eventicize. All Rights Reserved</p>
		</div>
	</div>
</div>
<!-- //footer-->

	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- for bootstrap working <script src="js/bootstrap.js"></script> -->
		
<!-- //for bootstrap working <script type='text/javascript' src="js/jquery.mycart.js"></script> -->
  <!-- product -->
			
</body>
</html>