<!DOCTYPE html>
<html>
<head>
<title>Find supplier listings for all your event needs</title>
<%= csrf_meta_tags %>

<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Vide" />
<meta name="keywords" content="Search and find suppplier listings for all your event needs" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

		<script type="text/javascript">
			jQuery(function() {
			jQuery('.starbox').each(function() {
				var starbox = jQuery(this);
					starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
					}).bind('starbox-value-changed', function(event, value) {
					if(starbox.hasClass('random')) {
					var val = Math.random();
					starbox.next().text(' '+val);
					return val;
					} 
				})
			});
		});
		</script>

</head>
<body>
	
		<div class="header">
			<div class="container-fluid main-nav-shadow">
				<div class="row">
					<div class="col-md-2" style="">
    					<%= image_tag "app/logo.png", class: "img-responsive" %>
    				</div>
    				<div class="col-md-8 the-bar-width">
						<%= form_tag({ controller: :mains, action: :search }, :method => "get", id: "search-form") do %>
						<div class="row">
							<div class="col-md-6 col-sm-4 col-xs-12">
								<%= text_field_tag :q, params[:q], placeholder: "Search" %>
							</div>
							<div class="col-md-4 col-sm-4 hidden-xs">
								<input type="text" placeholder="Location" name="location" />
							</div>
							<div class="col-md-2 col-sm-4 col-xs-12" align="center">
								<%= submit_tag "Search", class: "search-no-border btn-search" %>
							</div>
						</div>
						<% end %>
					</div>	
					<div class="col-md-2">
    					<ul class="card">
							<li><a href=".lgmd" data-toggle="modal"><i class="fa fa-user" aria-hidden="true"></i>Log in</a></li>
							<li><a href=".sumd" data-toggle="modal"><i class="fa fa-user" aria-hidden="true"></i>Sign Up</a></li>
						</ul>
					</div>
    			</div>
    		<br />
			</div>
		</div>






<%= yield %>

<!--footer-->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>About Us</h2>
				<br />
				<p>Evventor is an innovative community marketplace that enables people list and discover a wide variety of events suppliers around them to make their event successful. We know quality, speed and reviews are important concerns when selecting your desired event service provider. That’s why if you’re organizing your next event, Evventor is your best sourcing buddy. Our mission is to help promote businesses online.</p>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12" align="center">
						<h2>Evventor</h2>
						<br />
					</div>
					<div class="col-md-12" align="center">
						<h4>Connect with us</h4>
						<br />
					</div>
					<div class="col-md-12">
						<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-home" aria-hidden="true"></i>No. 20 Aluguntugui Street, East Legon, Accra</p>
						</div>
						<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-phone" aria-hidden="true"></i>+254 716 808880, +233 50 982 5831, +233 26 288 9802</p>	
						</div>
						<div class="col-md-4 fo-grid1">
							<p><a href="mailto:info@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@evventor.com</a></p>
						</div>
					</div>
					<div class="col-md-12" align="center">
						<br /><br />
						<ul class="social-for">
							<li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
	</div>
	<div class="row">
		<div class="copy-right col-md-12">
			<p> &copy; 2017 Evventor. All Rights Reserved</p>
		</div>
	</div>
</div>
</div>
		<div class="container">
  			<div class="modal fade sumd" id="signupModal" role="dialog">
    			<div class="modal-dialog">
    
      				<div class="modal-content">
        				<div class="modal-header the-modal-header">
          					<button type="button" class="close" data-dismiss="modal">&times;</button>
          					<%= image_tag "app/logo.png", class: "img-head" %>
          					<h3 class="modal-title">Register Today</h3>
        				</div>
        				<div class="modal-body md-body">
        					<div class="md-body-fb">
          						<button onclick="window.location.href='/auth/facebook/'">Sign Up with Facebook</button>
          					</div>
          					<br />
          					<div class="md-body-tw">
          						<button onclick="window.location.href='/auth/twitter/'">Sign Up with Twitter</button>
          					</div>
          					<br />
          					<div>
          						<h3>or</h3>
          					</div> 
          					<br />
          					<div class="md-body-em">
          						<button onclick="window.location.href='/users/new/'">Sign Up with Email</button>
          					</div>
          					<br />
          					<br />
        				</div>
        				<div class="modal-footer the-modal-footer">
        					<p>By creating an account you agree to our <a href="">terms and conditions</a></p>
        					<p>Already have an account? <a href="#loginModal" data-toggle="modal" onclick="$('#signupModal').Toggle();">Log in</a></p>
        				</div>
      				</div>
      
    			</div>
  			</div>
  
		</div>
		<div class="container">
  			<div class="modal fade lgmd" id="loginModal" role="dialog">
    			<div class="modal-dialog">
      				<div class="modal-content">
        				<div class="modal-header the-modal-header">
          					<button type="button" class="close" data-dismiss="modal">&times;</button>
          					<%= image_tag "app/logo.png", class: "img-head" %>
          					<h3 class="modal-title">Log in</h3>
        				</div>
        				<div class="modal-body md-body">
        					<div class="md-body-fb">
          						<button onclick="window.location.href='/auth/facebook/'">Log in with Facebook</button>
          					</div>
          					<br />
          					<div class="md-body-tw">
          						<button onclick="window.location.href='/auth/twitter/'">Log in with Twitter</button>
          					</div>
          					<br />
          					<div>
          						<h3>or</h3>
          					</div>
          					<br />
          					<div align="center">
          						<div class="key1">
									<i class="fa fa-key" aria-hidden="true"></i>
									<input type="text" placeholder="Username" name="username" />
									<div class="clearfix"></div>
								</div>
								<div class="key1">
									<i class="fa fa-lock" aria-hidden="true"></i>
									<input type="password" placeholder="********" name="password" />
									<div class="clearfix"></div>
								</div>
          					</div>
          					<br />
          					<br />
        				</div>
        				<div class="modal-footer the-modal-footer">
        					<p>Don't have an account? <a href="">Sign up</a></p>
        				</div>
      				</div>
      
    			</div>
  			</div>
  
		</div>

	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>